@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-table-header: #deb5b5;
  --color-table-rows: #cdcdcd;
  --color-main-color: #e1003c;
  --color-default-notification-item: blue;
  --color-urgent-notification-item: red;
}

/* Set Roboto as default font for the entire app */
@layer base {
  body {
    font-family: var(--font-roboto);
  }
}
